@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-style: normal;
  color: #ffffff;
  transition: all 0.7s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

.section {
  margin: 0 auto;
}

.header {
  width: 100%;
  background: #000000;
  backdrop-filter: blur(2px);
  position: relative;
  z-index: 3;
}
.header .header__container {
  padding: 14px 0;
  align-items: center;
  justify-content: space-between;
}
.header .header__container .header__left {
  display: flex;
  gap: 63px;
  align-items: center;
  width: 617px;
}

.logo {
  width: 82px;
  height: 52px;
  display: flex;
  align-items: center;
  position: relative;
  border: 1.18841px solid #FFFFFF;
  border-radius: 2px;
}
.logo:hover {
  border: 1px solid #FE9013;
}
.logo:hover .logo__img {
  filter: invert(56%) sepia(66%) saturate(966%) hue-rotate(350deg) brightness(102%) contrast(99%);
}
.logo .logo__img {
  position: absolute;
  left: 8.19px;
  bottom: 4.79px;
}

.container {
  max-width: 1160px;
  display: flex;
  margin: 0 auto;
}

.title {
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  text-align: center;
  padding: 3.55px 0 0 1px;
}

.list {
  display: flex;
  gap: 58px;
  list-style-type: none;
}

.cursor-pointer {
  cursor: pointer;
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}
.link:hover, .link:active {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.link:hover .title, .link:active .title {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.orange {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.watch-you {
  background: url(../../assets/images/giantpanda.jpg) no-repeat;
  padding: 86px 0 100px;
  background-position: center;
  background-position-y: -80px;
  background-size: cover;
}
.watch-you .watch-you__container {
  justify-content: end;
}
.watch-you .watch-you__container .watch-you__block {
  width: 500.31px;
  height: 514px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.watch-you .watch-you__container .watch-you__block .watch-you__title {
  font-weight: 700;
  font-size: 106.5px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 3;
  height: 400px;
}
.watch-you .watch-you__container .watch-you__block .watch-you__title::before {
  content: "";
  width: 465px;
  height: 465px;
  border-radius: 465px;
  position: absolute;
  left: -73px;
  top: -74px;
  z-index: -1;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.yellow {
  color: #FFEE2E;
}

.btn1 {
  width: 298px;
  height: 54px;
  border-radius: 25px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
}

.btn1:hover,
.btn2:hover,
.arrow:hover {
  background: #E47209;
}
.btn1:active,
.btn2:active,
.arrow:active {
  background: #4B9200;
}
.btn1:disabled,
.btn2:disabled,
.arrow:disabled {
  background: #767474;
}

.the-backtage {
  padding: 140px 1px 176px 0;
  background: url(../../assets/images/flower_foto1.png) no-repeat;
  background-position: top 12px right -93px;
}
.the-backtage .the-backtage__container {
  gap: 87px;
  align-items: flex-start;
}
.the-backtage .the-backtage__container .the-backtage__img {
  width: 609px;
  height: 403px;
}
.the-backtage .the-backtage__container .the-backtage__block {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.the-backtage .the-backtage__container .the-backtage__block .subtitle {
  margin: 32px 0 12px;
}
.the-backtage .the-backtage__container .the-backtage__block .the-backtage__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #333B41;
}
.the-backtage .the-backtage__container .the-backtage__block .the-backtage__text:last-child {
  line-height: 140%;
}

.h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #333B41;
}

.subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
}

.pets {
  padding: 0 0 100px;
  background: url(../../assets/images/palm_foto.png) bottom 0 left -528px, url(../../assets/images/strelitzia.png) bottom 0 right 0;
  background-repeat: no-repeat;
}
.pets .pets__container {
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
.pets .pets__container .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;
  justify-content: center;
  position: relative;
  padding-top: 2px;
}
.pets .pets__container .cards .card {
  width: 366px;
  height: 426px;
  background: rgba(0, 0, 0, 0.75);
  border: 1px solid #FA6F32;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.pets .pets__container .cards .card .card__img {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.pets .pets__container .cards .card .card__block {
  background: #ffffff;
  width: 100%;
  padding: 8px 8px 14px 15px;
  height: 60px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  position: relative;
}
.pets .pets__container .cards .card .card__block .card__icons {
  width: 48px;
  height: 38px;
  position: relative;
}
.pets .pets__container .cards .card .card__block .card__icons .icon {
  position: absolute;
}
.pets .pets__container .cards .card .card__block .card__text {
  width: 294px;
  height: 39px;
  display: flex;
  flex-direction: column;
}
.pets .pets__container .cards .card:hover .card__img {
  animation: 1.2s 1 alternate slidein forwards;
  position: relative;
  opacity: 0.75;
  filter: blur(1px);
}
.pets .pets__container .cards .card:hover .card__block {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition-duration: 0.7s;
}
.pets .pets__container .cards .card:hover .btn,
.pets .pets__container .cards .card:hover .smallParagraph {
  font-size: 22px;
  letter-spacing: -0.005em;
}
.pets .pets__container .cards .card:hover .card__icons img {
  display: none;
}
.pets .pets__container .cards .card:hover .card__text {
  position: absolute;
  bottom: 74px;
  right: 35px;
  align-items: end;
}
.pets .pets__container .cards .card:hover .card__text p {
  color: #ffffff;
  transition: all ease-in-out 1s;
}
.pets .pets__container .cards .card:first-child .card__icons .icon:first-child, .pets .pets__container .cards .card:nth-child(3) .card__icons .icon:first-child, .pets .pets__container .cards .card:nth-child(4) .card__icons .icon:first-child {
  bottom: 1px;
  right: 9.71px;
}
.pets .pets__container .cards .card:first-child .card__icons .icon:last-child, .pets .pets__container .cards .card:nth-child(3) .card__icons .icon:last-child, .pets .pets__container .cards .card:nth-child(4) .card__icons .icon:last-child {
  bottom: 1.75px;
  right: 4px;
  fill: #468E0D;
}
.pets .pets__container .cards .card:nth-child(6) .card__icons .icon:first-child, .pets .pets__container .cards .card:nth-child(5) .card__icons .icon:first-child, .pets .pets__container .cards .card:nth-child(2) .card__icons .icon:first-child {
  right: 13.74px;
  bottom: 5.5px;
}
.pets .pets__container .cards .card:nth-child(6) .card__icons .icon:last-child, .pets .pets__container .cards .card:nth-child(5) .card__icons .icon:last-child, .pets .pets__container .cards .card:nth-child(2) .card__icons .icon:last-child {
  right: 0;
  bottom: 2px;
}
.pets .pets__container .cards .pick-and-feed__arrows {
  display: flex;
  gap: 1198px;
  position: absolute;
  top: calc(50% - 32px);
}
.pets .pets__background {
  position: absolute;
  bottom: 0;
  left: -528px;
}
.pets .pets__background:last-child {
  left: auto;
  right: 0;
}

.or3 {
  background: #FE9013;
}

.btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
}

.smallParagraph {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
  position: relative;
  bottom: 3px;
}

@keyframes slidein {
  from {
    transform: scale(1);
    top: 0;
  }
  to {
    transform: scale(1.2);
    top: 25px;
  }
}
.pick-and-feed {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  padding: 69px 0 99px;
}
.pick-and-feed .pick-and-feed__container {
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 41px 99px 59px;
  flex-direction: column;
}
.pick-and-feed .pick-and-feed__container .pick-and-feed__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 60px;
}
.pick-and-feed .pick-and-feed__container .pick-and-feed__text p:last-child {
  font-weight: 400;
}
.pick-and-feed .pick-and-feed__container .pick-and-feed__text .pick-and-feed__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #FE9013;
  margin-bottom: 21px;
}
.pick-and-feed .pick-and-feed__container .pick-and-feed__text .pick-and-feed__main-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
  width: 863px;
}
.pick-and-feed .pick-and-feed__container .pick-and-feed__text .pick-and-feed__main-text .pick-and-feed__link {
  color: #333B41;
  text-decoration: none;
  border-bottom: 1px solid #FE9013;
  padding-bottom: 2px;
}
.pick-and-feed .pick-and-feed__container .pick-and-feed__text .pick-and-feed__main-text .pick-and-feed__link:hover {
  color: #FE9013;
}
.pick-and-feed .pick-and-feed__container .pick-and-feed__text .pick-and-feed__main-text:nth-child(2n-1) {
  width: 1061px;
}
.pick-and-feed .pick-and-feed__container .pick-and-feed__text .subtitle {
  margin-bottom: 30px;
}
.pick-and-feed .pick-and-feed__container .pick-and-feed__main-block {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.pick-and-feed .pick-and-feed__container .pick-and-feed__main-block .pick-and-feed__cards {
  display: flex;
  gap: 130px;
  margin: 0 auto;
  margin-bottom: 19px;
}
.pick-and-feed .pick-and-feed__container .pick-and-feed__main-block .pick-and-feed__cards .pick-and-feed__card {
  width: 168px;
  height: 244px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}
.pick-and-feed .pick-and-feed__container .pick-and-feed__main-block .pick-and-feed__cards .pick-and-feed__card:first-child::before, .pick-and-feed .pick-and-feed__container .pick-and-feed__main-block .pick-and-feed__cards .pick-and-feed__card:nth-child(2)::before {
  content: "";
  position: absolute;
  background-image: url(../../assets/svg/sparrow.svg);
  width: 71px;
  height: 37px;
  left: calc(100% + 29px);
  top: 59px;
}
.pick-and-feed .pick-and-feed__container .pick-and-feed__main-block .pick-and-feed__cards .pick-and-feed__card:nth-child(2)::before {
  top: 55px;
}
.pick-and-feed .pick-and-feed__container .pick-and-feed__main-block .pick-and-feed__cards .pick-and-feed__card .pick-and-feed__card-block {
  width: 168px;
  height: 168px;
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #F9804B;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pick-and-feed .pick-and-feed__container .pick-and-feed__main-block .pick-and-feed__cards .pick-and-feed__card .pick-and-feed__card-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
}
.pick-and-feed .pick-and-feed__container .pick-and-feed__main-block .pick-and-feed__button {
  margin: 0 auto;
}

.h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333B41;
  text-align: center;
}

.arrow {
  width: 62px;
  height: 62px;
  border-radius: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow:first-child .arrow__img {
  transform: rotate(180deg);
}

.testimonials {
  padding: 141px 0 264px;
  background: url(../../assets/images/leav_foto.png) no-repeat;
  background-position: bottom -132px right -161.48px;
}
.testimonials .testimonials__container {
  flex-direction: column;
  align-items: center;
  position: relative;
}
.testimonials .testimonials__container .h3 {
  margin-bottom: 45px;
}
.testimonials .testimonials__container .testimonials__cards {
  display: flex;
  gap: 29px;
  margin-bottom: 22px;
  justify-content: center;
  flex-wrap: wrap;
}
.testimonials .testimonials__container .testimonials__cards .testimonials__card {
  position: relative;
  width: 268px;
  height: 391px;
  padding: 16px 12px 19px 17px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.testimonials .testimonials__container .testimonials__cards .testimonials__card .card__top {
  height: 38px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: flex-start;
}
.testimonials .testimonials__container .testimonials__cards .testimonials__card .card__top .user-icon {
  width: 37px;
  height: 37px;
}
.testimonials .testimonials__container .testimonials__cards .testimonials__card .card__top .testimonials__card-title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.testimonials .testimonials__container .testimonials__cards .testimonials__card .card__top .testimonials__card-title .user-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
}
.testimonials .testimonials__container .testimonials__cards .testimonials__card .card__top .testimonials__card-title .user-subtitle {
  display: flex;
  gap: 5px;
}
.testimonials .testimonials__container .testimonials__cards .testimonials__card .card__top .testimonials__card-title .user-subtitle .gray4 {
  margin-right: 1px;
}
.testimonials .testimonials__container .testimonials__cards .testimonials__card .testimals__text-block {
  width: 237px;
  height: 309px;
  overflow: hidden;
}
.testimonials .testimonials__container .testimonials__cards .testimonials__card .testimals__text-block .smallParagraph {
  bottom: auto;
}
.testimonials .testimonials__container .testimonials__cards .testimonials__card:first-child, .testimonials .testimonials__container .testimonials__cards .testimonials__card:nth-child(2) {
  padding-right: 15px;
}
.testimonials .testimonials__container .testimonials__cards .testimonials__card:nth-child(3) {
  padding-right: 14px;
}
.testimonials .testimonials__container .testimonials__cards .testimonials__card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 2px;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: add, add;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.testimonials .testimonials__container .progress-bar {
  border-radius: 5px;
  width: 599px;
  height: 8px;
  border: 0.5px solid transparent;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  box-shadow: inset 0 0 0 10vw #f5f7f6;
  -webkit-appearance: none;
  appearance: none;
}
.testimonials .testimonials__container .progress-bar::-webkit-slider-thumb {
  border-radius: 5px;
  height: 5px;
  width: 115.19px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}
.testimonials .testimonials__container .progress-bar::-webkit-slider-thumb:hover {
  background: #E47209;
}
.testimonials .testimonials__container .progress-bar::-webkit-slider-thumb:active {
  background: #4B9200;
}
.testimonials .testimonials__container .progress-bar::-moz-range-thumb {
  border-radius: 5px;
  height: 5px;
  width: 115.19px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}
.testimonials .testimonials__container .progress-bar::-moz-range-thumb:hover {
  background: #E47209;
}
.testimonials .testimonials__container .progress-bar::-moz-range-thumb:active {
  background: #4B9200;
}
.testimonials .testimonials-bg {
  position: absolute;
  right: -163px;
  bottom: -132.48px;
}

.gray-light {
  background: #F1F3F2;
  border-radius: 20px;
}

.gray4 {
  color: #BDBDBD;
}

.gray {
  color: #767474;
}

.green {
  color: #4B9200;
}

.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn2 {
  width: 298px;
  height: 54px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: absolute;
  left: 0;
  bottom: -84px;
  text-decoration: none;
}

.footer {
  background: #111115;
}
.footer .footer__container {
  padding-top: 42px;
  padding-bottom: 50px;
  display: flex;
  gap: 32px;
}
.footer .footer__container .footer__left {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin-right: 69px;
}
.footer .footer__container .footer__left .link:hover {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer .footer__container .footer__left .logo {
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 24px;
}
.footer .footer__container .footer__left .logo:hover {
  border: 1px solid #FE9013;
}
.footer .footer__container .footer__left .logo:hover .logo__img {
  filter: invert(56%) sepia(66%) saturate(966%) hue-rotate(350deg) brightness(102%) contrast(99%);
}
.footer .footer__container .footer__left .logo .title {
  position: relative;
  top: -1.55px;
}
.footer .footer__container .footer__left .logo .logo__img {
  left: 8.19px;
  bottom: 5.79px;
}
.footer .footer__container .footer__left .btn2 {
  position: static;
}
.footer .footer__container .footer__left .social {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .footer__container .footer__left .social .social__card {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  display: flex;
  gap: 12px;
  align-items: baseline;
  position: relative;
}
.footer .footer__container .footer__left .social .social__card:nth-child(2), .footer .footer__container .footer__left .social .social__card:nth-child(3) {
  align-items: center;
}
.footer .footer__container .footer__left .social .social__card:hover .social__title {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer .footer__container .footer__left .social .social__card:hover .social__icon {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}
.footer .footer__container .footer__left .social .social__card:active .social__title {
  background: #4B9200;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer .footer__container .footer__left .social .social__card:active .social__icon {
  background: #4B9200;
}
.footer .footer__container .footer__left .social .social__card .social__title {
  font-weight: 300;
  line-height: 120%;
}
.footer .footer__container .footer__left .social .social__card .social__icon {
  background: rgba(196, 196, 196, 0.5);
  width: 26px;
  height: 26px;
  border-radius: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer__container .footer__center {
  display: flex;
  align-items: flex-end;
}
.footer .footer__container .footer__center .link {
  font-weight: 400;
}
.footer .footer__container .footer__right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}
.footer .footer__container .footer__right .footer__copyright {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .footer__container .footer__right .footer__copyright p {
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  opacity: 0.5;
  letter-spacing: -0.005em;
}
.footer .footer__container .footer__right .footer__copyright p:active {
  color: #4B9200;
  border-bottom: 1px solid #4B9200;
}
.footer .footer__container .footer__right .subtitle {
  color: #FFFFFF;
  margin-bottom: 14px;
}
.footer .footer__container .footer__right .input__block {
  display: flex;
  gap: 10px;
}
.footer .footer__container .footer__right .input__block input {
  width: 228px;
  height: 42px;
  border-radius: 2px;
  padding: 10px 7px 10px 10px;
  border: 0.7px solid #F9804B;
  background: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  outline: none;
}
.footer .footer__container .footer__right .input__block input:active {
  border: 0.7px solid #4B9200;
  border-radius: 2px;
}
.footer .footer__container .footer__right .input__block input:focus ~ .btn-activ {
  border: 1px solid #4B9200;
  color: #4B9200;
}
.footer .footer__container .footer__right .input__block .btn-activ {
  width: 129px;
  height: 42px;
  background: #F1F3F2;
  border: 1px solid #333B41;
  border-radius: 5px;
  color: #000000;
}
.footer .footer__container .footer__right .input__block .btn-activ:active {
  border: 1px solid #4B9200;
  color: #4B9200;
}

/*# sourceMappingURL=style.css.map */
