@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-style: normal;
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  background: #000000;
  backdrop-filter: blur(2px);
  position: relative;
  z-index: 3;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.header__container,
.watch-you__container,
.the-backtage__container {
  max-width: 1160px;
  display: flex;
  margin: 0 auto;
}

.header__container {
  padding: 14px 0;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
  gap: 63px;
  align-items: center;
  width: 617px;
}

.logo {
  width: 82px;
  height: 52px;
  display: flex;
  align-items: center;
  position: relative;
  border: 1.18841px solid #FFFFFF;
  border-radius: 2px;
}

.h1 {
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 130%;
  text-align: center;
}

.logo__img {
  position: absolute;
  left: 7.19px;
  bottom: 4.79px;
}

.list {
  display: flex;
  gap: 58px;
  list-style-type: none;
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

.link:hover,
.logo:hover,
.btn1:hover {
  cursor: pointer;
}

.link:hover,
.link:active,
.orange {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.link:hover,
.link:active,
.active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.watch-you {
  background: url('../../assets/images/giantpanda.jpg') no-repeat;
  padding: 86px 0 100px;
  background-position-y: -80px;
}

.watch-you__container {
  justify-content: end;
}

.watch-you__block {
  width: 500.31px;
  height: 514px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.watch-you__title {
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 3;
}

.yellow {
  color: #FFEE2E;
}

.btn1 {
  width: 298px;
  height: 54px;
  border-radius: 25px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;  
}

.btn1:hover {
  background: #E47209;
}

.btn1:active {
  background: #4B9200;
}

.btn1:disabled {
  background: #767474;
}

.ellipse {
  position: absolute;
  width: 465px;
  height: 465px;
  right: 113px;
  bottom: calc(69px + 54px);
  border-radius: 468px;
}

.the-backtage {
  padding: 140px 1px 180px 0;
}

.the-backtage__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}