@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto.woff2) format('woff2');
  font-weight: 400;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-style: normal;
  color: #ffffff;
  transition: all .7s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

.section {
  margin: 0 auto;
}

.header {
  width: 100%;
  background: #000000;
  backdrop-filter: blur(2px);
  position: relative;
  z-index: 3;
  .header__container {
    padding: 14px 0;
    align-items: center;
    justify-content: space-between;
    .header__left {
      display: flex;
      gap: 63px;
      align-items: center;
      width: 617px;
    }
  }
}

.logo {
  width: 82px;
  height: 52px;
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
    &:hover {
    border: 1px solid #FE9013;
    .logo__img {
      filter: invert(56%) sepia(66%) saturate(966%) hue-rotate(350deg) brightness(102%) contrast(99%);
    }
  }
  .logo__img {
    position: absolute;
    left: 7.19px;
    bottom: 4.79px;
  }
}

.container {
  max-width: 1160px;
  display: flex;
  margin: 0 auto;
}

.title {
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 130%;
  text-align: center;
}

.list {
  display: flex;
  gap: 58px;
  list-style-type: none;
}

.cursor-pointer {
  cursor: pointer;
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  &:hover,
  &:active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.orange {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.watch-you {
  background: url('../../assets/images/giantpanda.jpg') no-repeat;
  padding: 86px 0 100px;
  background-position: center;
  background-position-y: -80px;
  .watch-you__container {
    justify-content: end;
    .watch-you__block {
      width: 500.31px;
      height: 514px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      position: relative;
      .watch-you__title {
        font-weight: 700;
        font-size: 106.496px;
        line-height: 75%;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        z-index: 3;
        height: 400px;
      }
      .ellipse {
        position: absolute;
        width: 465px;
        height: 465px;
        right: 113px;
        bottom: calc(69px + 54px);
        border-radius: 468px;
      }
    }
  }
}

.yellow {
  color: #FFEE2E;
}

.btn1 {
  width: 298px;
  height: 54px;
  border-radius: 25px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;  
}

.btn1,
.btn2,
.arrow {
  &:hover {
    background: #E47209;
  }
  &:active {
    background: #4B9200;
  }
  &:disabled {
    background: #767474;
  }
}

.the-backtage {
  padding: 140px 1px 176px 0;
  background: url(../../assets/images/flower_foto1.png) no-repeat;
  background-position: top 12px right -93px;
  .the-backtage__container {
    gap: 87px;
    align-items: flex-start;
    .the-backtage__img {
      width: 609px;
      height: 403px;
    }
    .the-backtage__block {
      display: flex;
      flex-direction: column;
      gap: 21px;
      .subtitle {
        margin: 32px 0 12px;
      }
      .the-backtage__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 135%;
        color: #333B41;
        &:last-child {
          line-height: 140%;
        }
      }
    }
  }
}

.h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #333B41;
}

.subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
}

.pets {
  padding: 0 0 99px;
  background: url(../../assets/images/palm_foto.png) bottom 0 left -528px, url(../../assets/images/strelitzia.png) bottom 0 right 0;
  background-repeat: no-repeat;
  .pets__container {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 81px;
    .cards {
      display: flex;
      flex-wrap: wrap;
      gap: 20px 30px;
      justify-content: center;
      position: relative;
      padding-top: 2px;
      .card {
        width: 366px;
        height: 426px;
        background:rgba(0, 0, 0, 0.75);
        border: 1px solid #FA6F32;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        .card__img {
          width: 100%;
          height: auto;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
        .card__block {
          background: #ffffff;
          width: 100%;
          padding: 8px 8px 14px 16px;
          height: 60px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          display: flex;
          position: relative;
          .card__icons {
            width: 48px;
            height: 38px;
            position: relative;
            .icon {
              position: absolute;
            }
          }
          .card__text {
            width: 294px;
            height: 39px;
            padding: 2px 0 0px 0px;
            display: flex;
            flex-direction: column;
          }
        }
        &:hover {
          .card__img {
            animation: 1.2s 1 alternate slidein forwards;
            position: relative;
            opacity: 0.75;
            filter: blur(1px);
          }
          .card__block {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 100%;
            background:rgba(0, 0, 0, 0.5);
          }
          .btn,
          .smallParagraph {
            font-size: 22px;
            letter-spacing: -0.005em;
          }
          .card__icons {
            img {
              display: none;
            }
          }
          .card__text {
            position: absolute;
            bottom: 44px;
            right: 35px;
            align-items: end;
            p {
              color: #ffffff;
              transition: all ease-in-out 1s;
            }
          }
        }
        &:first-child,
        &:nth-child(3),
        &:nth-child(4) {
          .card__icons {
            .icon:first-child {
              bottom: 1px;
              right: 9.71px;
            }
            .icon:last-child {
              bottom: 1.75px;
              right: 4px;
              fill: #468E0D;
            }
          }
        }
        &:nth-child(6),
        &:nth-child(5),
        &:nth-child(2) {
          .card__icons {
            .icon {
              &:first-child {
                right: 13.74px;
                bottom: 5.5px;
              }
              &:last-child {
                right: 0;
                bottom: 2px;
              }
            }
          }
        }
      }
      .pick-and-feed__arrows {
        display: flex;
        gap: 1198px;
        position: absolute;
        top: calc(50% - 32px);
      }
    }
  }
  .pets__background {
    position: absolute;
    bottom: 0;
    left: -528px;
    &:last-child {
      left: auto;
      right: 0;
    }
  }
}

.or3 {
  background: #FE9013;
}

.btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
}

.smallParagraph {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
  position: relative;
  bottom: 3px;
}

@keyframes slidein {
  from {
    transform: scale(1);
    top: 0;
  }

  to {
    transform: scale(1.2);
    top: 25px;
  }
}

.pick-and-feed {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  padding: 69px 0 99px;
  .pick-and-feed__container {
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 41px 99px 59px;
    flex-direction: column;
    .pick-and-feed__text {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 60px;
      .pick-and-feed__title {
        font-weight: 400;
        font-size: 48px;
        line-height: 120%;
        text-align: center;
        color: #FE9013;
        margin-bottom: 22px;
      }
      .pick-and-feed__main-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        color: #333B41;
        width: 863px;
        .pick-and-feed__link {
          color: #333B41;
          text-decoration: none;
          border-bottom: 1px solid #FE9013;
          padding-bottom: 2px;
          &:hover {
            color: #FE9013;
          }
        }
        &:nth-child(2n-1) {
          width: 1061px;
          letter-spacing: 0.005em;
        }
      }
      .subtitle {
        margin-bottom: 30px;
      }
    }
    .pick-and-feed__main-block {
      display: flex;
      flex-direction: column;
      gap: 40px;
      .pick-and-feed__cards {
        display: flex;
        gap: 130px;
        margin: 0 auto;  
        margin-bottom: 19px;
        .pick-and-feed__card {
          width: 168px;
          height: 244px;
          display: flex;
          flex-direction: column;
          gap: 30px;
          .pick-and-feed__card-block {
            width: 168px;
            height: 168px;
            background: #FFFFFF;
            border-radius: 5px;
            border: 1px solid #F9804B;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            .sparrow {
              position: absolute;
              right: -102px;
              top: calc(50% - 23px);
            }
            &:nth-child(2) {
              .sparrow {
                top: calc(50% - 27px);
              }
             }
          }
          .pick-and-feed__card-subtitle {
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            color: #333B41;
          }
        }
      }
      .pick-and-feed__button {
        margin: 0 auto;
      }
    }
  }
}

.h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333B41;
  text-align: center;
}

.arrow {
  width: 62px;
  height: 62px;
  border-radius: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:first-child {
    .arrow__img {
      transform: rotate(180deg);
    }
  } 
}

.testimonials {
  padding: 141px 0 264px;
  background: url(../../assets/images/leav_foto.png) no-repeat;
  background-position: bottom -132px right -161.48px;
  .testimonials__container {
    flex-direction: column;
    align-items: center;
    position: relative;
    .h3 {
      margin-bottom: 47px;
    }
    .testimonials__cards {
      display: flex;
      gap: 29px;
      margin-bottom: 22px;
      .testimonials__card {
        position: relative;
        width: 268px;
        height: 391px;
        padding: 16px 13px 19px 16px;
        display: flex;
        flex-direction: column;
        gap: 11px;
        .card__top {
          height: 38px;
          display: flex;
          justify-content: flex-start;
          gap: 10px;
          align-items: flex-start;
          .user-icon {
            width: 37px;
            height: 37px;
            padding-bottom: 2px;
          }
          .testimonials__card-title {
            display: flex;
            flex-direction: column;
            gap: 2px;
            .user-title {
              font-weight: 400;
              font-size: 16px;
              line-height: 120%;
              color: #000000;
            }
            .user-subtitle {
              display: flex;
              gap: 5px;
              .gray4 {
                margin-right: 1px;
              }
            }
          }
        }
        .testimals__text-block {
          width: 237px;
          height: 309px;
          overflow: hidden;
          letter-spacing: -0.008em;
        }
        &:first-child,
        &:nth-child(2) {
          padding-right: 15px;
        }
        &:nth-child(3) {
          padding-right: 14px;
        }
        &::before {
          content: "";
          position: absolute;
          inset: 0;
          border-radius: 20px;
          padding: 2px;
          background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
          -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
          mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
          mask-composite: add, add;
          -webkit-mask-composite: xor;
          mask-composite: exclude;
        }
      }
    }
    .progress-bar {
      border-radius: 5px;
      width: 599px;
      height: 8px;
      border: 0.5px solid transparent;
      background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
      box-shadow: inset 0 0 0 10vw #f5f7f6;
      -webkit-appearance: none;
      appearance: none;
      &::-webkit-slider-thumb {
        border-radius: 5px;
        height: 5px;
        width: 115.19px;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        border: none;
        cursor: pointer;
        -webkit-appearance: none;
        appearance: none;
      }
      &::-webkit-slider-thumb:hover {
        background: #E47209;
      }
      &::-webkit-slider-thumb:active {
        background: #4B9200;
      }
    }
  }
  .testimonials-bg {
    position: absolute;
    right: -163px;
    bottom: -132.48px;
  }
}

.gray-light {
  background: #F1F3F2;
  border-radius: 20px;
}

.gray4 {
  color: #BDBDBD;
}

.gray {
  color: #767474;
}

.green {
  color: #4B9200;
}

.noselect {
  -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn2 {
  width: 298px;
  height: 54px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: absolute;
  left: 0;
  bottom: -84px;
  text-decoration: none;
}

.footer {
  background: #111115;
  .footer__container {
    padding-top: 42px;
    padding-bottom: 50px;
    display: flex;
    gap: 32px;
    .footer__left {
      display: flex;
      flex-direction: column;
      gap: 44px;
      margin-right: calc(101px - 32px);
      .link {
        &:hover {
          background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      .logo {
        border: 0.5px solid rgba($color: #ffffff, $alpha: 0.5);
        margin-bottom: 24px;
        &:hover {
          border: 1px solid #FE9013;
          .logo__img {
            filter: invert(56%) sepia(66%) saturate(966%) hue-rotate(350deg) brightness(102%) contrast(99%);
          }
        }
        .title {
          position: relative;
          top: -1.55px;
        }
        .logo__img {
          left: 8.19px;
          bottom: 5.79px;
        }
      }
      .btn2 {
        position: static;
      }
      .social {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .social__card {
          text-decoration: none;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          display: flex;
          gap: 12px;
          align-items: baseline;
          position: relative;
          &:nth-child(2),
          &:nth-child(3) {
            align-items: center;
          }
          &:hover {
            .social__title {
              background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-clip: text;
              -webkit-text-fill-color: transparent;
            }
            .social__icon {
              background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
            }
          }
          &:active {
            .social__title {
              background: #4B9200;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-clip: text;
              -webkit-text-fill-color: transparent;
            }
            .social__icon {
              background: #4B9200;
            }
          }
          .social__title {
            font-weight: 300;
            line-height: 120%;
          }
          .social__icon {
            background: rgba(196, 196, 196, 0.5);
            width: 26px;
            height: 26px;
            border-radius: 26px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
    .footer__center {
      display: flex;
      align-items: flex-end;
      .link {
        font-weight: 400;
      }
    }
    .footer__right {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: flex-end;
      .footer__copyright {
        display: flex;
        flex-direction: column;
        gap: 10px;
        p {
          font-weight: 100;
          font-size: 16px;
          line-height: 130%;
          color: #FFFFFF;
          opacity: 0.5;
          letter-spacing: -0.005em;
          &:active {
            color: #4B9200;
            border-bottom: 1px solid #4B9200;
          }
        }
      }
      .subtitle {
        color: #FFFFFF;
        margin-bottom: 12px;
      }
      .input__block {
        display: flex;
        gap: 10px;
        input {
          width: 228px;
          height: 42px;
          border-radius: 2px;
          padding: 10px 7px 10px 10px;
          border: 0.7px solid #F9804B;
          background: transparent;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          outline: none;
          &:active {
            border: 0.7px solid #4B9200;
            border-radius: 2px;
          }
          &:focus ~ .btn-activ {
              border: 1px solid #4B9200;
              color: #4B9200;
          }
        }
        .btn-activ {
          width: 129px;
          height: 42px;
          background: #F1F3F2;
          border: 1px solid #333B41;
          border-radius: 5px;
          color: #000000;
          &:active {
            border: 1px solid #4B9200;
            color: #4B9200;
          }
        }
      }
    }
  }
}